body {
  display:inline;
  font-family: 'Patua One', cursive;
}

.doctordiv {
  padding: 10px;
  padding-left: 20px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #62cefc;
  border-radius: 30px;
  width: 250px;
}

.doctordiv img {
  border-radius: 8px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #62cefc;
}

.doctordiv:hover {
  background-color: #b3ecff;
  border-color: #0086b3;
}

.header {
  text-align: center;
  width: 100%;
  background-color: #99e6ff;
  padding: 20px;
}

.header h1 {
  font-family: 'Baloo Bhai', cursive;
  color: #0086b3;
}

.header img {
  height: 150px;
}

.bar {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #0086b3;
  border-radius: 30px;
}

.side {
  width:25%;
  height: 1500px;
  background-color: #0086b3;
}

.center {
  width:50%;
  background-color: white;
  padding: 50px;
}

.innercenter {
  background-color: #99e6ff;
  border-radius: 20px;
  padding: 20px;
}

.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
